*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/Compiler
/.idea/misc.xml
/.idea/runConfigurations.xml
/.idea/codeStyles/Project.xml
/.idea/runConfigurations.xml
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
